.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
  
    .wrapper {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .menu {
        display: flex;
        align-items: center;
        padding: 3px;
  
        p{
          font-size: 18px;
          font-weight: 600;
          color: #555;
          cursor: pointer;
          transition: all .3s ease;
          margin-right: 20px;
  
          &:hover{
            color: #6439ff;
          }
        }
      }
  
      .items {
        display: flex;
        align-items: center;
  
        .item {
          margin-right: 20px;
          position: relative;
          text-align: right;
          line-height: 1;
  
          p{
            font-size: 11px;
            font-weight: 600;
          }
  
          h1{
            font-size: 16px;
          }
  
          .avatar {
            width: 30px;
            height: 30px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  